/*RESET CSS*/
*KO
{Margin:0;
padding:0;}
 
/*TIPOGRAFÍAS DE GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/*TIPOGRAFÍAS LOCALES*/
@font-face
{font-family: "Myriad Pro Regular"; 
src: url("../media/fonts/MyriadPro-Regular.otf");} 
@font-face
{font-family: "Silkscreen Regular"; 
src: url("../media/fonts/Silkscreen-Regular.ttf");} 
@font-face
{font-family: "Kongtext"; 
src: url("../media/fonts/kongtext.ttf");}
@font-face
{font-family: "VCROSDMONO"; 
src: url("../media/fonts/VCR_OSD_MONO_1.001.ttf");}
@font-face
{font-family: "DePixelBreit"; 
src: url("../media/fonts/DePixelBreit.otf");}
@font-face
{font-family: "PPSupply"; 
src: url("../media/fonts/PPSupplyMono-Regular.otf");}

body
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
color: #d8d697;
font-family: 'Afacad', sans-serif;
text-align: center;
display: flex;
flex-direction: column;
min-height: 100vh;}

/*-------------------------------MEDIA QUERIES BODY -------------------------------*/
@media only screen and (max-width: 480px)
{body
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
color: #d8d697;
font-family: 'Afacad', sans-serif;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: auto;
width: 480px;
margin: 0;}
}

@media only screen and (min-width: 481px) and (max-width: 950px)
{body
    {/*Propiedades básicas*/
    background-color: rgb(16, 16, 16);
    color: #d8d697;
    font-family: 'Afacad', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    width: 950px;
    margin: 0;
    padding: 0;}
    }

    @media only screen and (min-width: 951px) and (max-width: 1200px)

    {body
        {/*Propiedades básicas*/
        background-color: rgb(16, 16, 16);
        color: #d8d697;
        font-family: 'Afacad', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: auto;
        width: 100%;
        margin: auto;
        padding: 0;}
        }
/*-------------------------------FIN MEDIA QUERIES BODY -------------------------------*/

main
{/*Propiedades básicas*/
background-color: black;
color: #d8d697;
flex: 1;}

/*-------------------------------MEDIA QUERIES MAIN -------------------------------*/
@media only screen and (max-width: 480px)
{main {/*Propiedades básicas*/
    background-color: black;
    color: #d8d697;
    flex: 1;
    margin: 0;
    width: 480px;}}

    @media only screen and (min-width: 951px) and (max-width: 1200px)

    {main {/*Propiedades básicas*/
        background-color: black;
        color: #d8d697;
        flex: 1;
        margin: auto;
        width: 1200px;
        padding: 0;}
    }
  
/*-------------------------------FIN MEDIA QUERIES MAIN -------------------------------*/

/*CONFIGURACIÓN DE ELEMENTOS COMUNES A TODA EL SITIO*/
p
{/*Propiedades básicas*/
color: #d8d697;}

a
{/*Propiedades básicas*/
text-decoration:none;
color: #faf687;}

a:hover
{/*Propiedades básicas*/
text-decoration:none;
color: #ff0000;}

ul
{/*Propiedades básicas*/
list-style: none;
margin-bottom: 0; /*Este "margin bottom es la única forma de que el "nav" no se salga de lugar al utilizar Bootstrap por alguna razón*/}

li
{/*Propiedades básicas*/
display: inline-block;}

h2
{color: #ffd000;
font-size: 4rem;
font-family: Myriad Pro Regular;}

.h2paginas
{padding-top: 4rem;}

/*HEADER CON FLEX PARA ALINEAR LOS ITEMS ITERNOS Y POSITION STICKY CON TOP:0 PARA MANTENERLO FIJO TODO EL TIEMPO*/
header .myheader
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
width: 100%;
height: 50px;
/*Propiedades de Box Modelling*/
padding: 0px 0px 0px 0px;
margin: 0 0 0 0; /*Forma abreviada*/
position: fixed;
top: 0;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;}

/*CONFIGURACIÓN DEL LOGO, TANTO DEL TEXTO COMO DE LA IMAGEN*/
header .myheader .logo
{/*Propiedades de Box Modelling*/
margin-bottom: 0;
padding-left: 10px;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;}

.logoimagen
{/*Propiedades de Box Modelling*/
padding: 0px 0px 10px 0px;}

.logoimagen img
{width: 25px;
height: 25px;}

h1
{/*Propiedades básicas*/
font-size: 2rem;
font-weight:700;
color:#ffd000;
font-family: "Myriad Pro Regular";
/*Propiedades de Box Modelling*/
padding: 0px 0px 0px 15px;
margin: 0;}

h1:hover
{/*Propiedades básicas*/
font-weight: 700;
color: red;
/*Propiedades de Box Modelling*/
padding: 15px 0rem 0rem 20px;}

/*BARRA DE NAVEGACIÓN*/
header nav
{/*Propiedades básicas*/
text-decoration: none;
font-size: 1.5rem;
/*Propiedades de Box Modelling*/
padding-right: 10px;}

.boton
{/*Propiedades básicas*/
background-color: black;
font-family: "Silkscreen Regular";
font-size: 20px;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 0,5rem 0,5rem 0,5rem 0,5rem;
border-color: rgb(47, 47, 45) rgb(47, 47, 45) black rgb(47, 47, 45);
margin: 0 0 0 0;
padding: 0rem 1rem 0 1rem;}

.boton:hover
{/*Propiedades básicas*/
background-color:rgb(47, 47, 45);
border-width: 0 0 0 0;
font-size: 25px;
font-weight: 700;}

/*-------------------------------MEDIA QUERIES HEADER -------------------------------*/
@media only screen and (max-width: 480px)
{header .myheader
{display: grid;
width: 100%;
height: auto;
position:relative;}
    
/*CONFIGURACIÓN DEL LOGO, TANTO DEL TEXTO COMO DE LA IMAGEN*/
header .myheader .logo
{/*Propiedades de Box Modelling*/
margin: 0px;
padding: 0px 20px 0px 0px;
/*Propiedades de Flexbox*/
grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;}
    
    .logoimagen
    {/*Propiedades de Box Modelling*/
        padding: 0px 0px 12px 0px;
    margin: 0px;}
    
    .logoimagen img
    {width: 40px;
    height: 40px;}
    
    h1
    {/*Propiedades básicas*/
    font-size: 3rem;
    font-weight:700;
    font-family: "Myriad Pro Regular";
    /*Propiedades de Box Modelling*/
    padding: 0px 0px 0px 15px;
    margin: 0;}
    
    /*BARRA DE NAVEGACIÓN*/
    header nav
    {/*Propiedades básicas*/
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-decoration: none;
    font-size: 1rem;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;}

    header nav ul
    {padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;}
    
    .boton
    {/*Propiedades básicas*/
    background-color: black;
    font-family: "Silkscreen Regular";
    font-size: 1.5rem;
    /*Propiedades de Box Modelling*/
    border-style: solid;
    border-width: 0,5rem 0,5rem 0,5rem 0,5rem;
    border-color: rgb(47, 47, 45) rgb(47, 47, 45) black rgb(47, 47, 45);
    margin: 0px;
    padding: 0px 0px 0px 0px;}
}

@media only screen and (min-width: 481px) and (max-width: 950px)
{header .myheader
{display: grid;
width: 950px;
height: auto;
position:relative;
justify-content: center;}
    
/*CONFIGURACIÓN DEL LOGO, TANTO DEL TEXTO COMO DE LA IMAGEN*/
header .myheader .logo
{/*Propiedades de Box Modelling*/
margin: 0px;
padding: 0px 0px 0px 0px;
/*Propiedades de Flexbox*/
grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
display: flex;
flex-direction: row;
justify-content: center;}
    
    .logoimagen
    {/*Propiedades de Box Modelling*/
    padding: 0px 0px 23px 0px;
    margin: 0px;}
    
    .logoimagen img
    {width: 60px;
    height: 60px;}
    
    h1
    {/*Propiedades básicas*/
    font-size: 5rem;
    font-weight:700;
       font-family: "Myriad Pro Regular";
    /*Propiedades de Box Modelling*/
    padding: 0px 0px 0px 15px;
    margin: 0;}
    
    /*BARRA DE NAVEGACIÓN*/
    header nav
    {/*Propiedades básicas*/
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-decoration: none;
    font-size: 4rem;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;}

    header nav ul
    {padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;}
    
    .boton
    {/*Propiedades básicas*/
    background-color: black;
    font-family: "Silkscreen Regular";
    font-size: 2.5rem;
    /*Propiedades de Box Modelling*/
    border-style: solid;
    border-width: 0,5rem 0,5rem 0,5rem 0,5rem;
    border-color: rgb(47, 47, 45) rgb(47, 47, 45) black rgb(47, 47, 45);
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 950px;}

    .boton:hover
    {/*Propiedades básicas*/
    background-color:rgb(47, 47, 45);
    border-width: 0 0 0 0;
    font-size: 3rem;
    font-weight: 700;}}

    @media only screen and (min-width: 951px) and (max-width: 1200px) /*media queries header 1200*/
    {header .myheader
        {/*Propiedades básicas*/
        background-color: rgb(16, 16, 16);
        width: 1200px;
        height: 6rem;
        /*Propiedades de Box Modelling*/
        padding: 0px 0px 0px 0px;
        margin: 0 0 0 0; /*Forma abreviada*/
        position: relative;
        top: 0;
        /*Propiedades de Flexbox*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;}
        
        /*CONFIGURACIÓN DEL LOGO, TANTO DEL TEXTO COMO DE LA IMAGEN*/
        header .myheader .logo
        {/*Propiedades de Box Modelling*/
        margin-bottom: 0;
        padding-left: 3rem;
        /*Propiedades de Flexbox*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;}
        
        .logoimagen
        {/*Propiedades de Box Modelling*/
        padding: 0px 0px 20px 0px;}
        
        .logoimagen img
        {width: 50px;
        height: 50px;}
        
        h1
        {/*Propiedades básicas*/
        font-size: 2rem;
        font-weight:700;
                font-family: "Myriad Pro Regular";
        /*Propiedades de Box Modelling*/
        padding: 0px 0px 0px 15px;
        margin: 0;}
        
        h1:hover
        {/*Propiedades básicas*/
        font-weight: 700;
        color: red;
        /*Propiedades de Box Modelling*/
        padding: 15px 0rem 0rem 20px;}
        
        /*BARRA DE NAVEGACIÓN*/
        header nav
        {/*Propiedades básicas*/
        text-decoration: none;
        font-size: 1.5rem;
        /*Propiedades de Box Modelling*/
        padding-right: 10px;}
        
        .boton
        {/*Propiedades básicas*/
        background-color: black;
        font-family: "Silkscreen Regular";
        font-size: 20px;
        /*Propiedades de Box Modelling*/
        border-style: solid;
        border-width: 0,5rem 0,5rem 0,5rem 0,5rem;
        border-color: rgb(47, 47, 45) rgb(47, 47, 45) black rgb(47, 47, 45);
        margin: 0 0 0 0;
        padding: 0rem 1rem 0 1rem;}
        
        .boton:hover
        {/*Propiedades básicas*/
        background-color:rgb(47, 47, 45);
        border-width: 0 0 0 0;
        font-size: 25px;
        font-weight: 700;}
        }

        @media only screen and (min-width: 1200px) and (max-width: 1500px) /*media queries header 1500*/
    {header .myheader
        {/*Propiedades básicas*/
        background-color: rgb(16, 16, 16);
        width: 100%;
        height: 6rem;
        /*Propiedades de Box Modelling*/
        padding: 100px 0px 0px 0px;
        margin: 0 0 0 0; /*Forma abreviada*/
        position: relative;
        top: 0;
        /*Propiedades de Flexbox*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;}
        
        /*CONFIGURACIÓN DEL LOGO, TANTO DEL TEXTO COMO DE LA IMAGEN*/
        header .myheader .logo
        {/*Propiedades de Box Modelling*/
        margin-bottom: 0;
        padding-left: 10px;
        /*Propiedades de Flexbox*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;}
        
        .logoimagen
        {/*Propiedades de Box Modelling*/
        padding: 0px 0px 20px 0px;}
        
        .logoimagen img
        {width: 50px;
        height: 50px;}
        
        h1
        {/*Propiedades básicas*/
        font-size: 2rem;
        font-weight:700;
        color: #faf687;
        font-family: "Myriad Pro Regular";
        /*Propiedades de Box Modelling*/
        padding: 0px 0px 0px 15px;
        margin: 0;}
        
        h1:hover
        {/*Propiedades básicas*/
        font-weight: 700;
        color: red;
        /*Propiedades de Box Modelling*/
        padding: 15px 0rem 0rem 20px;}
        
        /*BARRA DE NAVEGACIÓN*/
        header nav
        {/*Propiedades básicas*/
        text-decoration: none;
        font-size: 1.5rem;
        /*Propiedades de Box Modelling*/
        padding-right: 10px;}
        
        .boton
        {/*Propiedades básicas*/
        background-color: black;
        font-family: "Silkscreen Regular";
        font-size: 20px;
        /*Propiedades de Box Modelling*/
        border-style: solid;
        border-width: 0,5rem 0,5rem 0,5rem 0,5rem;
        border-color: rgb(47, 47, 45) rgb(47, 47, 45) black rgb(47, 47, 45);
        margin: 0 0 0 0;
        padding: 0rem 1rem 0 1rem;}
        
        .boton:hover
        {/*Propiedades básicas*/
        background-color:rgb(47, 47, 45);
        border-width: 0 0 0 0;
        font-size: 25px;
        font-weight: 700;}
        }
    

/*-------------------------- FIN MEDIA QUERIES HEADER -------------------------*/


/*SECCIÓN "QUIÉN SOY" DEL INDEX*/
.quiensoycontenido
{/*Propiedades de Box Modelling*/
width: 100%;/*Agregué el porcentaje para después dividir el div en dos*/
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;}

.quiensoytitulo
{/*Propiedades de Box Modelling*/
width: 70%;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.quiensoytitulo img
{width: 30px;
height: 30px;}

h2
{/*Propiedades básicas*/
font-size: 2.5rem;
font-family: "Silkscreen Regular";
color: #ffd000;}

.quiensoyimagen
{/*Propiedades de Box Modelling*/
margin-top: 2rem;
width: 50%;}

.quiensoyimagen img
{width:375px;
height: 600px;}

.quiensoytexto
{/*Propiedades de Box Modelling*/
margin: 2rem 0 0 0;
width: 35%;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.quiensoytexto p
{/*Propiedades básicas*/
font-size: 18px;
font-family: "PPSupply";
line-height: 21px;}

.quiensoytexto span
{/*Propiedades básicas*/
color: #faf687;}

/* -------------------------------- MEDIA QUERIES QUIENSOY ------------------------------ */

@media only screen and (max-width: 480px)
{/*SECCIÓN "QUIÉN SOY" DEL INDEX*/
.quiensoycontenido
{/*Propiedades de Box Modelling*/
padding-top: 0rem;
margin: auto;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;}

.quiensoytitulo
{/*Propiedades de Box Modelling*/
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.quiensoytitulo img
{width: 40px;
height: 40px;}

h2
{/*Propiedades básicas*/
font-size: 4rem;
font-family: "Silkscreen Regular";
color: #ffd000;}

.quiensoyimagen
{/*Propiedades de Box Modelling*/
margin-top: 2rem;
width: 100%;
padding-left: 3rem;}

.quiensoyimagen img
{width:375px;
height: 600px;}

.quiensoytexto
{/*Propiedades de Box Modelling*/
margin: 2rem 0 0 0;
width: 80%;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.quiensoytexto p
{/*Propiedades básicas*/
font-size: 20px;
font-family: "PPSupply";
line-height: 21px;}

.quiensoytexto span
{/*Propiedades básicas*/
color: #faf687;}
}

@media only screen and (min-width: 481px) and (max-width: 950px)
{/*SECCIÓN "QUIÉN SOY" DEL INDEX*/
.quiensoycontenido
{/*Propiedades de Box Modelling*/
padding-top: 0rem;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;}

.quiensoytitulo
{/*Propiedades de Box Modelling*/
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.quiensoytitulo img
{width: 40px;
height: 40px;}

h2
{/*Propiedades básicas*/
font-size: 3rem;
font-family: "Silkscreen Regular";
color: #ffd000;}

.quiensoyimagen
{/*Propiedades de Box Modelling*/
margin-top: 2rem;
width: 100%;
padding-left: 3rem;}

.quiensoyimagen img
{width:500px;
height: 800px;}

.quiensoytexto
{/*Propiedades de Box Modelling*/
margin: 2rem 0 0 0;
width: 80%;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.quiensoytexto p
{/*Propiedades básicas*/
font-size: 2rem;
font-family: "PPSupply";
line-height: 2.53rem;}

.quiensoytexto span
{/*Propiedades básicas*/
color: #faf687;}
}



/* --------------------------------------- FIN MEDIA QUERIES QUIENSOY ---------------------------------*/

/*PRINCIPALES SECCIONES DEL INDEX*/
.seccionesfila
{/*Propiedades de Flexbox*/
display:flex;
flex-direction:row;
justify-content: center;}
    
.secciones
{/*Propiedades básicas*/
font-family: "Silkscreen Regular";
font-size: 20px;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 1rem;
border-color: rgb(16, 16, 16);
/*Propiedades de Flexbox*/
display:flex;
flex-direction: column;}

.seccionesfila a img /*Imágenes de cada Sección*/
{/*Propiedades básicas*/
width: 495px;
height: 495px;}

h3
{/*Propiedades básicas*/
font-size: 2rem;}

/* --------------------------------- MEDIA QUERIES SECCIONES DEL INDEX -------------------------------*/

@media only screen and (max-width: 480px)
{/*PRINCIPALES SECCIONES DEL INDEX*/
.seccionesfila
{/*Propiedades de Flexbox*/
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;}
    
.secciones
{/*Propiedades básicas*/
font-family: "Silkscreen Regular";
font-size: 20px;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 1rem;
border-color: rgb(16, 16, 16);
margin: 0;
/*Propiedades de Flexbox*/
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.seccionesfila a img /*Imágenes de cada Sección*/
{/*Propiedades básicas*/
width: 400px;
height: 400px;}

h3
{/*Propiedades básicas*/
font-size: 2rem;}}

@media only screen and (min-width: 481px) and (max-width: 950px)
{/*PRINCIPALES SECCIONES DEL INDEX*/
.seccionesfila
{/*Propiedades de Flexbox*/
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;}
    
.secciones
{/*Propiedades básicas*/
font-family: "Silkscreen Regular";
font-size: 20px;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 1rem;
border-color: rgb(16, 16, 16);
margin: 0;
/*Propiedades de Flexbox*/
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.seccionesfila a img /*Imágenes de cada Sección*/
{/*Propiedades básicas*/
width: 600px;
height: 600px;}

h3
{/*Propiedades básicas*/
font-size: 2rem;}}

@media only screen and (min-width: 951px) and (max-width: 1200px)
{.seccionesfila a img /*Imágenes de cada Sección*/
/*Propiedades básicas*/
{width: 400px;
height: 400px;}}
/* --------------------------------- FIN DE MEDIA QUERIES SECCIONES DEL INDEX -------------------------------*/

/*SECCIÓN BIO*/
.bioimgtxt
{/*Propiedades básicas*/
font-size: 35px;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
margin: 0rem 1rem 0rem 1rem;
padding: 3rem 1rem 1rem 1rem;}

.bioimg
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
/*Propiedades de Flexbox*/
display: flex;
padding: 3rem 1rem 1rem 0rem;
flex-direction: row;
justify-content: center;
align-items: center;}

.bioimg img
{width: 500px;
height: 500px;}


.biotituloytext
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.biotitulo
{width: 30%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.biotitulo h2
{font-size: 4rem;
    color: #ffd000;}

.biotitulo img
{width: 40px;
height: 40px;}

.biotituloytext p
{/*Propiedades básicas*/
font-size: 23px;
font-family: "PPSupply";
line-height: 30px;
/*Propiedades de Flexbox*/
display: flex;
padding: 4rem;}

/* ----------------------------- MEDIA QUERIES BIO ---------------------------------- */

@media only screen and (max-width: 480px)
{/*SECCIÓN BIO*/
.bioimgtxt
{/*Propiedades básicas*/
font-size: 35px;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
margin: 0rem 0rem 0rem 0rem;
padding: 0rem 0rem 0rem 0rem;
width: 100%;}

.bioimg
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
/*Propiedades de Flexbox*/
display: flex;
padding: 3rem 0rem 0rem 0rem;}

.bioimg img
{width: 480px;
height: 480px;}

.biotituloytext
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;}

.biotitulo
{width: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.biotitulo h2
{font-size: 4rem;
    color: #ffd000;}

.biotitulo img
{width: 40px;
height: 40px;}

.biotituloytext p
{/*Propiedades básicas*/
font-size: 20px;
font-family: "PPSupply";
line-height: 30px;
/*Propiedades de Flexbox*/
display: flex;
padding: 0;}}

@media only screen and (min-width: 481px) and (max-width: 950px)
{/*SECCIÓN BIO*/
.bioimgtxt
{/*Propiedades básicas*/
font-size: 35px;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
margin: 0rem 0rem 0rem 0rem;
padding: 0rem 0rem 0rem 0rem;
width: 100%;}

.bioimg
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
/*Propiedades de Flexbox*/
display: flex;
padding: 3rem 0rem 0rem 0rem;
margin: auto;}

.bioimg img
{width: 900px;
height: 900px;}

.biotituloytext
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;}

.biotitulo
{width: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 50%;}

.biotitulo h2
{font-size: 6rem;
    color: #ffd000;}

.biotitulo img
{width: 80px;
height: 80px;}

.biotituloytext p
{/*Propiedades básicas*/
font-size: 2rem;
font-family: "PPSupply";
line-height: 3rem;
/*Propiedades de Flexbox*/
display: flex;
padding: 0;}}

@media only screen and (min-width: 951px) and (max-width: 1200px)
{/*SECCIÓN BIO*/
.bioimgtxt
{/*Propiedades básicas*/
font-size: 35px;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: ;
margin: 0rem 0rem 0rem 0rem;
padding: 0rem 0rem 0rem 0rem;
width: 100%;}

.bioimg
{/*Propiedades básicas*/
background-color: rgb(16, 16, 16);
/*Propiedades de Flexbox*/
display: flex;
padding: 3rem 0rem 0rem 0rem;
margin: auto;
width: 50%;}

.bioimg img
{width: 500px;
height: 500px;}

.biotituloytext
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;}

.biotitulo
{width: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 50%;}

.biotitulo h2
{font-size: 4rem;
    color: #ffd000;}

.biotitulo img
{width: 50px;
height: 50px;}

.biotituloytext p
{/*Propiedades básicas*/
font-size: 1.2rem;
font-family: "PPSupply";
line-height: 3rem;
/*Propiedades de Flexbox*/
display: flex;
padding: 0;}}


/* -------------------------------- FIN MEDIA QUERIES BIO ------------------------------------- */

/*CONFIGURACIÓN DE TIENDA*/
.card
{background: black;
font-family: "PPSupply";
font-size: 13px;}

.card-title
{color: #ffd000;}

.tiendamain h2
{font-size: 5rem;
    font-family: Myriad Pro Regular;
font-weight: 900;}

/* ------------------------ MEDIA QUERIES TIENDA ------------------------------- */
/*CONFIGURACIÓN DE TIENDA*/
@media only screen and (max-width: 480px)
{.card-group
{margin-top: 0rem;
width: 100%;}
    
.card
{background: black;
font-family: "PPSupply";
font-size: 1.5rem;}}

@media only screen and (min-width: 481px) and (max-width: 950px)
{.card-group
{margin-top: 0rem;
width: 100%;}
    
.card
{background: black;
font-family: "PPSupply";
font-size: 1.5rem;}}

@media only screen and (min-width: 481px) and (max-width: 575px)
{.card
{background: black;
font-family: "PPSupply";
font-size: 3rem;}}
/* --------------------------- FIN MEDIA QUERIES TIENDA --------------------------------- */

/*CONFIGURACIÓN DE CONTACTO*/
main form
{/*Propiedades básicas*/
font-size: 14px;
font-family: "PPSupply";
line-height: 18px;}

.contactomaincontenedor
{padding-top: 2rem;
width: 100%;
display: flex;
flex-direction: row;}

.contactoimg
{width: 50%;
padding: 6rem 0rem 0rem 0rem;}

.contactoimg img
{width: 500px;
height: 500px;}

.tituloyform
{padding-top: 6rem;
padding-right: 2rem;
background-color:rgb(16, 16, 16);
width: 75%;
}

.tituloyform h2
{font-size: 4rem;
    color: #ffd000;}

.tituloyform form
{font-size: 15px;
line-height: 25px;}

.tituloyform form textarea
{width: 70%;}

.dondevivis
{line-height: 2px;
padding-top: 1rem;}

.enquepuedoayudarte
{padding-top: 40px;}

.tituloyform form p
{padding-top: 1rem;}

/* ------------------------------- MEDIA QUERIES DE CONTACTO ------------------------------------- */

@media only screen and (max-width: 480px)
{main form
{/*Propiedades básicas*/
font-size: 14px;
font-family: "PPSupply";
line-height: 18px;}

main .contactomaincontenedor
{padding-top: 2rem;
width: 100%;
display: grid;}

.contactoimg
{grid-row-start: 1;
grid-row-end: 1;
grid-column-start: 1;
grid-column-end: 1;
padding: 0;
flex-direction: row;
justify-content: center;
align-items: center;
margin: auto; /*IMPORTANTÍSIMO PARA QUE EL CONTENIDO DE UN GRID SE CENTRE*/}

.contactoimg img
{width: 200px;
height: 200px;
display: flex;}

.tituloyform
{padding-top: 0rem;
padding-right: 0rem;
grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 1;
background-color:rgb(16, 16, 16);
width: 100%;}

.tituloyform h2
{font-size: 3rem;
    color: #ffd000;}

.tituloyform form
{font-size: 20px;
line-height: 25px;
margin-bottom: 10px;}

.tituloyform form textarea
{width: 70%;}

.label
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0.5rem;}

.inputnombre
{width: 300px;}

.dondevivis
{line-height: 2px;
padding-top: 1rem;}

.enquepuedoayudarte
{padding-top: 40px;}

.tituloyform form p
{padding-top: 1rem;}

.elementosalfinal
{line-height: 1px;
padding-top: 1rem;}

.submitreset
{margin-top: 1rem;}
}

@media only screen and (min-width: 481px) and (max-width: 950px)
{main form
{/*Propiedades básicas*/
font-size: 3rem;
font-family: "PPSupply";
line-height: 18px;}

main .contactomaincontenedor
{padding: 0;
margin: 0;
width: 100%;
display: grid;}

main .contactomaincontenedor .contactoimg
{grid-row-start: 1;
grid-row-end: 1;
grid-column-start: 1;
grid-column-end: 1;
padding: 0;
margin: auto; /*IMPORTANTÍSIMO PARA QUE EL CONTENIDO DE UN GRID SE CENTRE*/
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;}

.contactoimg img
{width: 650px;
height: 650px;
padding: 0rem 0rem 0rem 0rem;
margin: 0;}

.tituloyform
{padding-top: 0rem;
padding-right: 0rem;
grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 1;
background-color:rgb(16, 16, 16);
width: 100%;
padding-bottom: 3rem;}

.tituloyform h2
{font-size: 3rem;
    color: #ffd000;}

.tituloyform form
{font-size: 2rem;
line-height: 25px;
margin-bottom: 10px;}

.tituloyform form textarea
{width: 70%;}

.label
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem;}

.inputnombre
{width: 300px;}

.email 
{width: 550px;}

.dondevivis
{line-height: 2px;
padding-top: 1rem;}

.enquepuedoayudarte
{padding-top: 40px;
display: flex;
flex-direction: row;
justify-content: center;}

.textarea
{margin-top: 2rem;}

.dondevivispregunta
{padding-bottom: 1rem;}

.tituloyform form p
{padding-top: 1rem;}

.elementosalfinal
{line-height: 1px;
padding-top: 3rem;}

.submitreset
{margin-top: 1rem;
padding-top: 10px;}
}
/* ------------------------------- FIN DE MEDIA QUERIES DE CONTACTO ------------------------------------- */

/*CONFIGURACIÓN DEL FOOTER CON POSITION FIXED PARA QUE QUEDE FIJO EN TODO EL SITIO.
Luego de añadir el código de enlace a Bootstrap en todos mis archivos HTML, tuve que rehacer el código del footer, encerrando todo el contenido que había dentro del footer en un div nuevo y cambiar la position de sticky a fixed para que el contenido del footer volviera a comportarse como lo hacía anteriormente. Desconozco los motivos de este inesperado comportamiento*/

footer .myfooter 
{/*Propiedades básicas*/
background-color: black;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 0,5rem;
border-color: rgb(16, 16, 16);
width: 100%;
height: 2rem;
position: fixed;
bottom: 0;
margin-top: 2rem;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

footer .myfooter .logofooter
{/*Propiedades de Box Modelling*/
padding-left: 20px;
padding-top: 0px;}

footer .myfooter .logofooter img
{width: 100px;
height: 25px;}

footer .myfooter .logosfooter
{/*Propiedades de Box Modelling*/
margin-left: 9rem;
width: 25%;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-evenly;}

footer .myfooter .logosfooter img
{width: 25px;
height: 25px;}

footer .myfooter .derechosfooter
{/*Propiedades de Box Modelling*/
padding-top: 15px;
padding-right: 10px;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: flex-end;}

/* -----------------------------------  MEDIA QUERIES FOOTER ---------------------------------- */

@media only screen and (max-width: 480px)
{footer .myfooter 
{/*Propiedades básicas*/
background-color: black;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 0,5rem;
border-color: rgb(16, 16, 16);
width: 30rem;
height: auto;
position:static;
bottom: 0;
margin-top: 0rem;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;}

footer .myfooter .logofooter
{/*Propiedades de Box Modelling*/
padding-left: 0px;
padding-top: 0px;}

footer .myfooter .logofooter img
{width: 15rem;
height: 3rem;
padding: 0;
margin: 0;}

footer .myfooter .logosfooter
{/*Propiedades de Box Modelling*/
margin-left: 0;
width: auto;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-evenly;}

footer .myfooter .logosfooter img
{width: 55px;
height: 25px;
padding: 0px 15px 0px 15px;}

footer .myfooter .derechosfooter
{/*Propiedades de Box Modelling*/
padding: 0px;
margin: 0;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;}

footer .myfooter .derechosfooter p
{margin: 0px;}}

@media only screen and (min-width: 481px) and (max-width: 950px)
{footer .myfooter 
{/*Propiedades básicas*/
background-color: black;
/*Propiedades de Box Modelling*/
border-style: solid;
border-width: 0,5rem;
border-color: rgb(16, 16, 16);
width: 950px;
height: auto;
position:static;
bottom: 0;
margin-top: 0rem;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;}

footer .myfooter .logofooter
{/*Propiedades de Box Modelling*/
padding-left: 0px;
padding-top: 0px;}

footer .myfooter .logofooter img
{width: 300px;
height: 100px;
padding: 0;
margin: 0;}

footer .myfooter .logosfooter
{/*Propiedades de Box Modelling*/
margin-left: 0;
width: auto;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: row;
justify-content: space-evenly;}

footer .myfooter .logosfooter img
{width: 105px;
height: 55px;
padding: 0px 25px 0px 25px;}

footer .myfooter .derechosfooter
{/*Propiedades de Box Modelling*/
padding: 0px;
margin: 0;
/*Propiedades de Flexbox*/
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;}

footer .myfooter .derechosfooter p
{margin: 0px;
padding-top: 1rem;
font-size: 2rem;}
}

@media only screen and (min-width: 951px) and (max-width: 1200px) /*media queries footer*/
{footer .myfooter 
    {/*Propiedades básicas*/
    background-color: black;
    /*Propiedades de Box Modelling*/
    border-style: solid;
    border-width: 0,5rem;
    border-color: rgb(16, 16, 16);
    width: 1200px;
    height: auto;
    position:static;
    bottom: 0;
    margin-top: 0rem;
    /*Propiedades de Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;}
    
    footer .myfooter .logofooter
    {/*Propiedades de Box Modelling*/
    padding-left: 0px;
    padding-top: 0px;}
    
    footer .myfooter .logofooter img
    {width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;}
    
    footer .myfooter .logosfooter
    {/*Propiedades de Box Modelling*/
    margin-left: 0;
    width: auto;
    /*Propiedades de Flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;}
    
    footer .myfooter .logosfooter img
    {width: 75px;
    height: 30px;
    padding: 0px 25px 0px 25px;}
    
    footer .myfooter .derechosfooter
    {/*Propiedades de Box Modelling*/
    padding: 0px;
    margin: 0;
    /*Propiedades de Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;}
    
    footer .myfooter .derechosfooter p
    {margin: 0px;
    padding-top: 1rem;
    font-size: 1rem;}
    }
/* -----------------------------------  FIN MEDIA QUERIES FOOTER ---------------------------------- */