/*CONFIGURACIÓN DE CONTACTO*/
main form
{/*Propiedades básicas*/
font-size: 14px;
font-family: "PPSupply";
line-height: 18px;}

.contactomaincontenedor
{padding-top: 2rem;
width: 100%;
display: flex;
flex-direction: row;}

.contactoimg
{width: 50%;
padding: 6rem 0rem 0rem 0rem;}

.contactoimg img
{width: 500px;
height: 500px;}

.tituloyform
{padding-top: 6rem;
padding-right: 2rem;
background-color:rgb(16, 16, 16);
width: 75%;}

.tituloyform h2
{font-size: 4rem;
    color: #ffd000;}

.tituloyform form
{font-size: 15px;
line-height: 25px;}

.tituloyform form textarea
{width: 70%;}

.dondevivis
{line-height: 2px;
padding-top: 1rem;}

.enquepuedoayudarte
{padding: 20px 0px 10px 0px;
display: flex;
justify-content: center;}

.tituloyform form p
{padding-top: 1rem;}

/* ------------------------------- MEDIA QUERIES DE CONTACTO ------------------------------------- */

@media only screen and (max-width: 480px)
{main .contactomaincontenedor
{display: grid;}

.contactoimg
{grid-row-start: 1;
grid-row-end: 1;
grid-column-start: 1;
grid-column-end: 1;
padding: 0;
flex-direction: row;
justify-content: center;
align-items: center;
margin: auto; /*IMPORTANTÍSIMO PARA QUE EL CONTENIDO DE UN GRID SE CENTRE*/}

.contactoimg img
{width: 200px;
height: 200px;
display: flex;}

.tituloyform
{padding-top: 0rem;
padding-right: 0rem;
grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 1;
width: 100%;}

.tituloyform h2
{font-size: 3rem;}

.tituloyform form
{font-size: 20px;
line-height: 25px;
margin-bottom: 10px;}

.label
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0.5rem;}

.inputnombre
{width: 300px;}

.dondevivis
{line-height: 2px;
padding-top: 1rem;}

.enquepuedoayudarte
{padding-top: 40px;}

.tituloyform form p
{padding-top: 1rem;}

.elementosalfinal
{line-height: 1px;
padding-top: 1rem;}

.submitreset
{margin-top: 1rem;}
}

@media only screen and (min-width: 481px) and (max-width: 950px)
{main form
{/*Propiedades básicas*/
font-size: 3rem;}

main .contactomaincontenedor
{padding: 0;
margin: 0;
display: grid;}

main .contactomaincontenedor .contactoimg
{grid-row-start: 1;
grid-row-end: 1;
grid-column-start: 1;
grid-column-end: 1;
padding: 0;
margin: auto; /*IMPORTANTÍSIMO PARA QUE EL CONTENIDO DE UN GRID SE CENTRE*/
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;}

.contactoimg img
{width: 480px;
height: 480px;
padding: 0rem 0rem 0rem 0rem;
margin: 0;}

.tituloyform
{padding-top: 0rem;
padding-right: 0rem;
grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 1;
background-color:rgb(16, 16, 16);
width: 100%;
padding-bottom: 3rem;}

.tituloyform h2
{font-size: 3rem;}

.tituloyform form
{font-size: 2rem;
line-height: 25px;
margin-bottom: 10px;}

.label
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem;}

.inputnombre
{width: 300px;}

.email 
{width: 550px;}

.enquepuedoayudarte
{display: flex;
flex-direction: row;
justify-content: center;
padding-top: 50px;}

.textarea
{margin-top: 2rem;}

.dondevivispregunta
{padding-bottom: 1rem;}

.elementosalfinal
{line-height: 1px;
padding-top: 3rem;}

.submitreset
{margin-top: 1rem;
padding-top: 10px;}
}
/* ------------------------------- FIN DE MEDIA QUERIES DE CONTACTO ------------------------------------- */



