/*HEADER*/
header
    {.myheader
    {background-color: $negroclaro;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 50px;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0; /*Forma abreviada*/
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    
        .logo
        {margin-bottom: 0;
        padding-left: 10px;
        @include flex (row, center, flex-end);

            h1
            {font-size: 2rem;
            font-weight:700;
            color:$amarillototal;
            font-family: $fontlogo;
            padding: 0px 0px 0px 15px;
            margin: 0;
            animation-name: animaciontitulo;
            animation-iteration-count: 1;
            animation-duration: 2s;
            animation-delay: 0;
            &:hover
            {font-weight: 700;
            color: $hover;
            padding: 15px 0rem 0rem 20px;}}

            @keyframes animaciontitulo
                {0%
                {color: $hover;}
                
                100%
                {color: $amarillototal;}}

            .logoimagen
                {padding: 0px 0px 10px 0px;}

                img
                {width: 25px;
                height: 25px;}}}
            
    nav
    {text-decoration: none;
    font-size: 1.5rem;
    padding-right: 10px;

        .boton
        {background-color: $negrototal;
        font-family: $fontpixel;
        font-size: 20px;
        border-style: solid;
        border-width: 0,5rem 0,5rem 0,5rem 0,5rem;
        border-color: $gris $gris $negrototal $gris;
        margin: 0 0 0 0;
        padding: 0rem 1rem 0 1rem;
        animation-name: animacionboton;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 0;}

        @keyframes animacionboton
            {0%
            {color: $hover;}
            
            100%
            {color: $amarillototal;}}}}

/* FOOTER */

/*Luego de añadir el código de enlace a Bootstrap en todos mis archivos HTML, tuve que rehacer el código del footer, encerrando todo el contenido que había dentro del footer en un div nuevo y cambiar la position de sticky a fixed para que el contenido del footer volviera a comportarse como lo hacía anteriormente. Desconozco los motivos de este inesperado comportamiento*/

footer
{.myfooter 
{background-color: $negrototal;
border-style: solid;
border-width: 0,5rem;
border-color: $negroclaro;
width: 100%;
height: 2rem;
position: fixed;
bottom: 0;
margin-top: 2rem;
@include flex (row, space-between, center);
    .logofooter
    {padding-left: 20px;
    padding-top: 0px;

        img
        {width: 100px;
        height: 25px;}}   

    .logosfooter
    {margin-left: 9rem;
    width: 25%;
    @include flex (row, space-evenly, center);
        
        img
        {width: 25px;
        height: 25px;}}  

        .logosimg
        {&:hover
            {filter: sepia(45%) brightness(56%) hue-rotate(318deg) saturate(751%) contrast(705%);
                -webkit-filter: sepia(45%) brightness(56%) hue-rotate(318deg) saturate(751%) contrast(705%);
                -moz-filter: sepia(45%) brightness(56%) hue-rotate(318deg) saturate(751%) contrast(705%);}}

    .derechosfooter
    {padding-top: 15px;
    padding-right: 10px;
    @include flex (column, flex-end, center);}}}