/*MAIN*/
main
{background-color: $negrototal;
color: $amarilloclaro;
flex: 1;
width: 100%;
min-width: 100%;
max-width: 100%;
overflow-x: hidden;
@include animation (animacionmain, 1, 2s, 0);}

@keyframes animacionmain
                {0%
                {color: $hover;}
                
                100%
                {color: $amarilloclaro;}}

/*BODY*/
body
{background-color: $negroclaro;
color: $amarilloclaro;
text-align: center;
@include flex (column, inherit, inherit);
min-height: 100vh;
width: 100%;
min-width: 100%;
max-width: 100%;
overflow-x: hidden;}