/*SECCIÓN BIO*/
.bioimgtxt
{font-size: 35px;
@include flex (row, default, default);
margin: 0rem 1rem 0rem 1rem;
padding: 3rem 1rem 1rem 1rem;

        .bioimg
        {background-color: $negroclaro;
        @include flex (row, center, center);
        padding: 3rem 1rem 1rem 0rem;

            img
            {width: 625px;
            height: 625px;}}

        .biotituloytext
        {@include flex (column, center, center);

            p
            {font-size: 23px;
            font-family: $fonttext;
            line-height: 30px;
            @include flex (row, default, default);
            padding: 4rem;}

            .biotitulo
            {width: 30%;
            @include flex (row, space-between, center);
            padding: 3rem 0rem 0rem 0rem;
            
                    h2
                    {font-size: 4rem;
                    color: $amarillototal;}
                
                    img
                    {width: 40px;
                    height: 40px;}}}}