/*CONFIGURACIÓN DE CONTACTO*/
.contactomaincontenedor
{padding: 2rem 0rem 2rem 0rem;
width: 100%;
display: flex;
flex-direction: row;

        .contactoimg
        {width: 50%;
        padding: 6rem 0rem 0rem 0rem;

                img
                { @include animation (animacionquiensoyimg, 1, 2s, 0);
                width: 500px;
                height: 500px;}}


        .tituloyform
        {padding-top: 6rem;
        padding-right: 2rem;
        background-color:rgb(16, 16, 16);
        width: 75%;

                .titulocontacto
                        {@include flex (row, center, center);
                                img
                                { @include animation (animacionquiensoyimg, 1, 2s, 0);
                                padding: 0px 20px 0px 20px;}
                                h2
                                {font-size: 4rem;
                                color: $amarillototal;}}
                                  
                textarea
                {width: 70%;}
                
                p
                {padding-top: 1rem;}}

                form
                {font-family: $fonttext;
                font-size: 15px;
                line-height: 25px;
                line-height: 18px;
                padding: 0px, 0px, 100px, 0px;     
                
                        .inputnombre, .inputapellido, .email, .inputtelefono, .textarea, select, input, .checkbox
                        {background-color: $negroclaro;
                        color: $amarillototal;}

                        .dondevivis
                        {line-height: 2px;
                        padding-top: 1rem;}

                        .enquepuedoayudarte
                        {padding: 20px 0px 10px 0px;
                        @include flex (row, center, default);}
                        
                        
                }} 